<div class="WIP"><p>Work in Progress</p>
</div>
<div class="main-fastInfos">
    <div>
        <img src="/assets/img/Photo_ID.jpg" class="main-PhotoID">
    </div>
    <div class="main-fastInfos-text">
        <p> Clément AZAN <br>
            Étudiant ingénieur à l'ESIEA<br>
            Apprenti Ingénieur en Développement Logiciel<br>
            <a href="mailto:azan@et.esiea.fr">azan@et.esiea.fr</a>
        </p>
    </div>
</div>

<div class="main-text">
    <h2>À propos</h2>
    <p>
        Je me présente, je m'appelle Clément Azan, j'ai 23 ans, et je suis
        apprenti au Crédit Agricole Payment Services et étudiant en école
        d'informatique.
    </p>
</div>
