.WIP {
    color: #dd0000;
    font-family: "Century Gothic", sans-serif;
    font-size: 45px;
    font-weight: bolder;
}

.main-fastInfos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-fastInfos-bloc {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

.main-fastLinks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: inherit;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin: 0;
}

.main-icon {
    width: 45px;
    margin-right: 8px;
}

.main-fastInfos-text {
    font-family: Ebrima, sans-serif;
    padding-left: 15px;
    font-size: 25px;
    padding-top: 0;
}

.main-PhotoID {
    height: 175px;
    width: auto;
}

.main-parcours {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: inherit;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 25px;
}

.main-parcours-ligne {
    display: flex;
    line-height: 100%;
    padding: 8px 0px;
}

.main-parcours-texte {
    margin-top: auto;
    margin-bottom: auto;
}

.main-bouton-parcours {
    background-color: #0000000F;
    border: none;
    border-radius: 22px;
    height: 45px;
    width: 45px;
}

.main-parcours-card-button {
    background-color: #ffffffaa;
    border: none;
    border-radius: 5px;
}

.main-parcours-tabs {
    min-height: 300px;
    max-width: 700px;
    background-color: #00000005;
    margin-left: 45px;
}

.main-parcours-card {
    padding: 15px;
    max-width: 560px;
    background-color: rgb(246, 242, 253);
}

.main-competence-buttons {
    display: block;
}

.main-competence-buttons .mat-button-base {
    margin: 8px 8px 8px;
    padding: 0 12px;
    border-radius: 5px;
    font-family:"Segoe UI", Century Gothic, serif;
    font-size: 16px;
}

.main-competence-button {
    background-color: #ffffff;
}

.main-competence-button-active {
    background-color: #cccccc;
}

.main-competence-logos {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 75%;
    max-width: 75%;
}

.main-competence-list {
    text-align: center;
    list-style: none;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

.main-competence-logo {
    text-align: center;
    width: 120px;
    height: 120px;
    padding: 8px;
}

.main-competence-text {
    font-size: 16px;
    position: relative;
    top: -80px;
    max-width: 85px;
}

.main-text{
    font-family: Ebrima, sans-serif;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 25px;
}
