<div class="liens">
    <div class="liens-lignes">
        <div class="liens-block">
            <div>
                <a href="https://links.cactus-industries.fr/GitHub" target="_blank">
                    <img src="/assets/img/svg/Github.svg" class="liens-icon"></a>
            </div>
            <div class="liens-text">
                <p>GitHub</p>
            </div>
        </div>
        <div class="liens-block">
            <div>
                <a href="https://links.cactus-industries.fr/LinkedIn" target="_blank">
                    <img src="/assets/img/svg/Linkedin.svg" class="liens-icon"></a>
            </div>
            <div class="liens-text">
                <p>LinkedIn</p>
            </div>
        </div>
        <div class="liens-block">
            <div>
                <a href="https://links.cactus-industries.fr/Ecole" target="_blank">
                    <img src="/assets/img/svg/ESIEA.svg" class="liens-icon"></a>
            </div>
            <div class="liens-text">
                <p>ESIEA</p>
            </div>
        </div>
    </div>
</div>
