<section>
    <div class="navbar-header">
        <div class="nav-logo-place"><p class="nav-logo-image">Futur logo de la Cactus Industries</p></div>
        <div class="nav-buttonbar">
            <button mat-raised-button routerLink="/" class="nav-e-cv">e-CV</button>
            <button mat-raised-button routerLink="/Projets_Techniques" class="nav-proj-tech">Projets Techniques</button>
            <button mat-raised-button routerLink="/Projets_Persos" class="nav-proj-perso">Projets Perso</button>
            <button mat-raised-button routerLink="/Liens" class="nav-lien">Liens</button>
        </div>
    </div>
</section>
