.mat-tab-group {
    margin-bottom: 48px;
}
section {
    display: table;
}
.second {
    background-color: aqua;
}

.navbar-header {
    display: flex;
    text-align: start;
}

.nav-logo-place {
    display: block;
    margin: 0 8px 0;
}

.nav-logo-image {
    vertical-align: middle;
    margin: 0 0 -50%;
    text-align: center;
    padding: 8px 0;
    font-size: 20px;
    max-width: 120px;
    max-height: 120px;
}

.nav-buttonbar {
    display: table;
    padding-block: 8px;
}

.nav-buttonbar .mat-button-base {
    margin: 8px 20px 8px 0;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family:"Segoe UI Black", Century Gothic, serif;
    font-weight: bolder;
    font-size: 25px;
    text-transform: uppercase;
    background-color: #ddc4a4;
}

