.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: burlywood;
}

.page-content {
    position: absolute;
    display: block;
    align-items: center;
    margin-top: 90px;
    left: 0;
    margin-right: 0;
    margin-bottom: 60px;
    padding: 0 400px 250px;
}

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 30px;
}
